.article-body > .ui.right.rail {
  margin-left: -1em;
  padding-left: 1em; }
  .article-body > .ui.right.rail .ui.header {
    margin-top: 1em !important; }

.ui.article > .ui.grid > .row.article-body > aside.column {
  display: none; }

.right.rail > .ui.article > .ui.grid > .row.article-body > aside.column {
  display: none; }

.ui.stackable.container {
  margin: auto !important; }

.ui.stackable.grid > .row > .wide.column {
  padding: 0em 0 !important;
  margin: 0 !important; }

.ui.right.floated.button a {
  color: #ffffff; }

p {
  font-size: 1rem;
  line-height: 1.4rem; }

.ui.right.rail .ui.sticky aside.column .ui.item > a > .ui.label {
  margin: 10px 0px 0px 0px;
  padding: 4px 4px; }

.ui.right.rail .ui.sticky aside.column .ui.item > .ui.label {
  padding: 5px;
  margin: 0 2px 0px 0px; }

@media only screen and (min-width: 1200px) {
  .right.rail {
    display: none; } }
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .right.rail {
    display: none; }

  .ui.grid > .row > section.wide.column {
    width: 100% !important; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .right.rail {
    display: none; }

  .ui.grid > .row > section.wide.column {
    width: 100% !important; } }
@media only screen and (max-width: 767px) {
  .right.rail {
    display: none; } }
